* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}
:root {
  /* Colors */
  --primary-color: #16a34a;
  --bg-color: #030712;
  --secondary-bg-color: #111827;
  --theme-bg-color: #14532d;
  --icon-bg-color: #14532d80;
  --btn-hover: #15803d;
  --border-color: #1f2937;
  --heading-color: #ffffff;
  --text-color: #9ca3af;
  --theme-text-color: #4ade80;
  --light-text-color: #d1d5db;
  --orange: #f59e0b;

  /* Font Weight */
  --heading-font-weight: 700;
  --card-heading-font-weight: 600;
  --secondary-heading-font-weight: 500;
  --text-font-weight: 400;

  /* Font Size */
  --text-size: 16px;
  --section-heading-size: 36px;
  --card-heading-size: 20px;
}

body {
  font-family: Manrope, system-ui, sans-serif;
  background-color: var(--bg-color);
  color: var(--text-color);
  font-size: var(--text-size);
  line-height: 1.5;
}

img {
  max-width: 100%;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--heading-color);
  font-weight: var(--heading-font-weight);
}

section {
  padding: 112px 0;
}

.btn {
  text-decoration: none;
  color: var(--heading-color);
  background-color: var(--primary-color);
  border: 1px solid var(--border-color);
  padding: 10px 20px;
  border-radius: 8px;
  font-weight: var(--secondary-heading-font-weight);
  transition: all 0.3s;
}

.btn:hover {
  background-color: var(--btn-hover);
}

.secondary_btn {
  --border-color: #374151;

  text-decoration: none;
  color: var(--light-text-color);
  background-color: var(--secondary-bg-color);
  border: 1px solid var(--border-color);
  padding: 10px 20px;
  border-radius: 8px;
  font-weight: var(--secondary-heading-font-weight);
  transition: all 0.3s;
}
.secondary_btn:hover {
  background-color: var(--border-color);
}
.card {
  display: flex;
  flex-direction: column;
  background-color: var(--secondary-bg-color);
  border: 1px solid var(--border-color);
  border-radius: 16px;
  padding: 32px;
  line-height: 1.5;
}

header {
  font-size: 0.875rem;
  background-color: var(--bg-color);
  padding: 20px 0;
  border-bottom: 1px solid var(--border-color);
  position: sticky;
  top: 0;
  z-index: 999;
}

.container {
  max-width: 1536px;
  padding: 0 32px;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  margin: 0 auto;
  align-content: center;
  height: 100%;
}

.logo {
  grid-column: span 2;
  display: flex;
}

.logo img {
  height: 40px;
}

nav {
  grid-column: span 8;
  display: flex;
  align-items: center;
  justify-content: center;
}

nav ul {
  display: flex;
  flex-direction: row;
  gap: 32px;
}

nav ul li {
  list-style-type: none;
}

nav ul li a {
  text-decoration: none;
  color: var(--text-color);
  transition: color 0.3s;
}

nav ul li a:hover {
  color: var(--heading-color);
}

.a {
  display: flex;
  gap: 10px;
  align-items: baseline;
}

nav ul li.group {
  position: relative;
}

ul.dropdown {
  display: none;
  flex-direction: column;
  z-index: 99;
  padding: 8px;
  background-color: var(--secondary-bg-color);
  border: 1px solid var(--border-color);
  border-radius: 8px;
  position: absolute;
  top: 28px;
  min-width: 190px;
  gap: 0;
  transition: display 5s;
}

ul.dropdown li a {
  border-radius: 8px;
  display: block;
  padding: 8px 16px;
}

ul.dropdown a:hover {
  background-color: var(--border-color);
}

nav ul li:hover ul.dropdown,
ul.dropdown:hover ul.dropdown {
  display: flex;
}

.nav_btn {
  grid-column: span 2;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 16px;
}

.nav_btn i {
  font-size: 15px;
  color: var(--text-color);
  background-color: transparent;
}

nav.mobile_menu,
.bars {
  display: none;
}
/* Hero Area */
section.hero {
  background-image: linear-gradient(var(--secondary-bg-color), var(--bg-color));
}

section .container {
  gap: 40px;
}

article.content {
  display: flex;
  flex-direction: column;
}

section.hero article.content {
  grid-column: span 6;
  gap: 30px;
  align-items: start;
  max-width: 520px;
}

.indicator {
  display: flex;
  background-color: var(--icon-bg-color);
  align-items: center;
  padding: 8px 16px;
  border: 1px solid var(--primary-color);
  border-radius: 30px;
  gap: 8px;
  font-size: 12px;
  color: var(--theme-text-color);
}

.indicator i {
  color: var(--primary-color);
  font-size: 8px;
}

.content h1 {
  font-size: 3.75rem;
  line-height: 60px;
}

.content h1 .highlighted_heading {
  background-image: linear-gradient(
    to right,
    var(--primary-color),
    var(--orange)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

article.content h1 + p {
  font-size: 1rem;
  line-height: 28px;
}

.content p {
  font-size: 0.875rem;
}

.btn_group {
  display: flex;
  gap: 16px;
}

.btn_group a.btn {
  display: flex;
  align-items: center;
  padding: 12px 24px;
  gap: 8px;
  box-shadow:
    0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -4px rgba(0, 0, 0, 0.1);
}

.btn_group a.btn:hover {
  box-shadow:
    0 20px 25px -5px rgba(0, 0, 0, 0.1),
    0 8px 10px -6px rgba(0, 0, 0, 0.1);
}

.btn_group a.secondary_btn {
  display: flex;
  align-items: center;
  gap: 8px;
}

.btn_group a.secondary_btn > i {
  color: var(--primary-color);
}

.counter {
  display: flex;
  gap: 32px;
  align-items: center;
}

.counter > div {
  text-align: center;
}

.counter > div h3 {
  font-size: 1.5rem;
  line-height: calc(2 / 1.5);
  color: var(--theme-text-color);
}
form {
  grid-column: span 6;
  padding: 32px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  background-color: var(--secondary-bg-color);
  border: 1px solid var(--border-color);
  border-radius: 16px;
}

.form_heading {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.form_heading h3 {
  font-size: 1.125rem;
}

.form_heading p {
  font-size: 0.875rem;
}

.form_field {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

form label {
  color: var(--light-text-color);
  font-size: 0.875rem;
  font-weight: var(--secondary-heading-font-weight);
}

form select {
  background-color: var(--border-color);
  border: 1px solid #374151;
  padding: 10px 16px;
  color: white;
  font-size: 1rem;
  border-radius: 8px;
  outline: none;
}

.label,
.range_minmax {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
}

.label span {
  color: var(--theme-text-color);
  font-weight: var(--heading-font-weight);
  font-size: 1.125rem;
}

form input[type='range'] {
  /* -webkit-appearance: none;
  */
  outline: none;
  border-radius: 30px;
  -webkit-appearance: none;
  background-color: transparent;
  width: 100%;
  cursor: pointer;
}

form input[type='range']::-webkit-slider-runnable-track {
  --border-color: #374151;
  height: 8px;
  background-color: var(--border-color);
  border-radius: 10px;
  border: 0px solid #cbd5e1;
  box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.1);
}

form input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 25px;
  height: 25px;
  background: var(--primary-color);
  border-radius: 30px;
  border: 0px solid #ffffff;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
  margin-top: -9px;
}

.range_minmax {
  font-size: 0.75rem;
}

.form_card {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

.form_card .card_box {
  --icon-bg-color: #14532d4d;

  flex-basis: calc(50% - 16px);
  background-color: var(--icon-bg-color);
  color: var(--primary-color);
  font-size: 0.75rem;
  text-align: center;
  padding: 16px;
  border-radius: 12px;
}

.form_card .card_box h3 {
  font-size: 1.5rem;
  color: var(--theme-text-color);
  margin-bottom: 4px;
}

.form_card .card_box:nth-child(3) {
  background-color: color-mix(#7b3306 30%, transparent);
  color: color-mix(#ffb900 70%, transparent);
}

.form_card .card_box:nth-child(3) h3 {
  color: #ffd230;
}

.form_card .card_box:nth-child(4) {
  background-color: color-mix(#1c398e 30%, transparent);
  color: color-mix(#51a2ff 70%, transparent);
}

.form_card .card_box:nth-child(4) h3 {
  color: #8ec5ff;
}

form input[type='submit'] {
  padding: 12px 0;
  cursor: pointer;
  font-size: 0.875rem;
}
.wave {
  color: var(--secondary-bg-color);
  margin-bottom: -6px;
}
/* Featured Area */
.featured {
  background-color: var(--secondary-bg-color);
  padding: 64px 0;
}

.feature {
  grid-column: span 3;
  text-align: center;
}
.feature h3 {
  font-size: 2.25rem;
  line-height: 1.11;
  margin-bottom: 4px;
}
.feature p {
  font-size: 0.875rem;
  line-height: 1.5;
}

/* Services Area */
.section_title {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  gap: 16px;
  max-width: 48rem;
  margin: 0 auto 64px;
}
.sub_heading {
  padding: 4px 12px;
  border: none;
  font-size: 0.875rem;
}

.section_heading {
  font-size: 2.25rem;
}
.section_title p {
  font-size: 1.125rem;
}

.service_card {
  align-items: flex-start;
  gap: 8px;
  grid-column: span 4;
}

.icon {
  background-color: var(--icon-bg-color);
  color: var(--primary-color);
  font-size: 1.25rem;
  text-align: center;
  padding: 16px 24px;
  border-radius: 12px;
  margin-bottom: 8px;
}
.service_card h3 {
  font-size: 1.125rem;
  font-weight: var(--card-heading-font-weight);
}

/* Product Area */
section#products {
  background-color: var(--secondary-bg-color);
}

.product_card {
  grid-column: span 4;
  border-radius: 16px;
  background-color: var(--border-color);
  overflow: hidden;
}
.product_img {
  width: 100%;
  aspect-ratio: 3/2;
  transition: all 0.5s;
  background-size: cover;
  background-position: center;
}

.product_img:hover {
  transform: scale(1.075);
}

.product_card article.content {
  padding: 24px;
  gap: 10px;
  z-index: 5;
}
.product_card article.content h3 {
  font-size: 1.125rem;
}
.product_card article.content > p {
  font-size: 0.875rem;
}
.product_card article.content > div {
  display: flex;
  gap: 12px;
  justify-content: space-between;
  text-align: center;
}

.product_feature {
  text-align: center;
  background-color: #374151;
  flex-basis: calc(33.333% - 12px);
  padding: 8px;
  border-radius: 8px;
}
.product_feature h5 {
  font-size: 0.875rem;
}
.product_feature p {
  font-size: 0.75rem;
}

/* Impact Area */
section.impact {
  background-color: var(--theme-bg-color);
  color: #ffffff;
}

section.impact .sub_heading {
  color: #ffffff;
  background-color: color-mix(#fff 20%, transparent);
}

.impact_box {
  grid-column: span 3;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  font-size: 0.875rem;
  color: #dcfce7;
}

.impact_box .icon {
  color: #ffffff;
  background-color: color-mix(#fff 10%, transparent);
  margin-bottom: 8px;
}
.impact_box h3 {
  font-size: 3rem;
  line-height: 1;
}

/* Financing Area */
section.financing {
  background-color: var(--secondary-bg-color);
}

.financing_card {
  grid-column: span 4;
  align-items: flex-start;
  gap: 8px;
  background-color: var(--border-color);
  position: relative;
  font-size: 0.875rem;
}

.financing_card span {
  position: absolute;
  background-color: var(--orange);
  color: #ffffff;
  font-size: 0.75rem;
  font-weight: var(--secondary-heading-font-weight);
  padding: 4px 12px;
  border-radius: 30px;
  top: -12px;
  right: 24px;
}

.financing_card h3 {
  font-size: 1.25rem;
}
.financing_list {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.financing_list > div {
  display: flex;
  align-items: center;
  color: #fff;
  gap: 12px;
}
.financing_list > div i {
  color: var(--primary-color);
}
.financing_list > div p {
  font-size: 0.875rem;
}

.financing_card .secondary_btn {
  color: var(--theme-text-color);
  border: 1px solid var(--theme-text-color);
  background-color: transparent;
  width: 100%;
  text-align: center;
  margin-top: 16px;
}
.financing_card .secondary_btn:hover {
  background-color: #14532d4d;
}

/* Process Area */

.process_box {
  grid-column: span 3;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  text-align: center;
  position: relative;
  font-size: 0.875rem;
}
span.num {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background-color: var(--primary-color);
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  font-size: 1.125rem;
  font-weight: var(--heading-font-weight);
  margin-bottom: 8px;
}

.line {
  background-color: #166534;
  height: 2px;
  position: absolute;
  width: 350px;
  top: 21px;
  left: 190px;
  z-index: -2;
}

.process_box h3 {
  font-size: 1.125rem;
}

/* Testimonials Area */
section.testimonials {
  background-color: var(--secondary-bg-color);
}
.testimonials_card {
  /* position: absolute; */
  grid-column: span 4;
  background-color: var(--border-color);
  gap: 16px;
}
.rating_box {
  color: #ffb900;
  font-size: 17px;
}
.testimonials_card q {
  color: var(--light-text-color);
}
.testimonials_card hr {
  --border-color: #374151;
  border: 1px solid var(--border-color);
}
.testimonials_card .client {
  font-size: 0.875rem;
}
.testimonials_card .client h3 {
  font-size: 1rem;
}
.slider {
  position: relative;
  overflow: hidden;
}
.swiper_btn {
  position: absolute;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--border-color);
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  font-size: 1.125rem;
  font-weight: var(--heading-font-weight);
  top: calc(50% - (40px / 2));
  box-shadow:
    0 20px 25px -5px rgba(0, 0, 0, 0.4),
    0 8px 10px -6px rgba(0, 0, 0, 0.4);
}
#swiper_prev {
  left: 0;
}
#swiper_next {
  right: 0;
}

/* CTA Area */
section.cta {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  background-color: var(--theme-bg-color);
}
section.cta .section_title {
  color: #ffffff;
  margin-bottom: 0;
}
section.cta .btn_group {
}
section.cta .btn_group .btn {
  font-size: 0.875rem;
  border-color: #ffffff;
  background-color: #ffffff;
  color: var(--primary-color);
}
section.cta .btn_group .btn:hover {
  border: 1px solid #ffffff;
  background: transparent;
  color: #ffffff;
}
section.cta .btn_group .secondary_btn {
  font-size: 0.875rem;
  background-color: transparent;
  border-color: #ffffff;
}
section.cta .btn_group .secondary_btn:hover {
  background-color: color-mix(#ffffff 10%, transparent);
}

/* FAQ Area */
.faq_container {
  max-width: 48rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
section.faq .faq_container .card {
  padding: 0;
}
section.faq .faq_container .question {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 24px;
  cursor: pointer;
  color: #ffffff;
  font-size: 0.875rem;
  font-weight: var(--card-heading-font-weight);
  overflow: hidden;
}
.rotate {
  transform: rotate(-45deg);
  transition: transform 0.5s ease;
}
.faq_container .answer {
  border-top: 1px solid var(--border-color);
  padding: 16px 24px;
  display: none;
  font-size: 0.875rem;
}

/* Contact Area */
#contact .container {
  margin: 0 auto;
  gap: 48px;
}
#contact form {
  grid-column: span 12;
  width: 42rem;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 24px;
  border: none;
  padding: 0;
  background-color: transparent;
}

#contact form .service,
#contact form .message {
  grid-column: span 2;
}

#contact form .label {
  display: flex;
  flex-direction: column;
  gap: 4px;
  font-size: 0.875rem;
}
#contact form .label input,
#contact form .label textarea,
#contact form .label select {
  background-color: var(--border-color);
  border: 1px solid #374151;
  padding: 12px 16px;
  color: white;
  font-size: 1rem;
  border-radius: 8px;
  outline: transparent;
  transition: outline 0.3s;
  flex-basis: 100%;
}
#contact form input[type='submit'] {
  justify-self: self-start;
  padding: 12px 24px;
}
#contact form .label input:focus,
#contact form .label textarea:focus,
#contact form .label select:focus {
  outline: 2px solid var(--primary-color);
}
#contact form .label input::placeholder,
#contact form .label textarea::placeholder,
#contact form .label select::placeholder {
  color: var(--text-color);
  font-family: Manrope, system-ui, sans-serif;
}

.office_hour {
  grid-column: span 12;
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 42rem;
  margin: 0 auto;
  padding: 24px;
  border: 1px solid var(--border-color);
  border-radius: 16px;
}
.office_hour h3 {
  font-size: 1rem;
  margin-bottom: 4px;
}

.office_hour > div {
  display: flex;
  justify-content: space-between;
  font-size: 0.875rem;
}

.office_hour > div p:last-child {
  color: #fff;
}

/* Footer Area */
footer {
  background-color: var(--secondary-bg-color);
  padding-top: 96px;
}
footer .container {
  row-gap: 64px;
}
footer .container > div:nth-child(1) {
  grid-column: span 4;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-right: 160px;
  align-items: flex-start;
}
footer .container > div:nth-child(1) img {
  max-height: 40px;
}
.social_link {
  display: flex;
  gap: 16px;
}
.social_link i {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  padding: 10px;
  color: var(--text-color);
  background-color: var(--border-color);
  border-radius: 8px;
  font-size: 20px;
  transition: all 0.3s;
}
.social_link i:hover {
  color: #fff;
  background-color: #374151;
}
footer .container > div:nth-child(2) {
  grid-column: span 5;
  display: flex;
  gap: 32px;
}
footer .container > div:nth-child(2) > div {
  flex-basis: calc(33.33% - 16px);
}
footer .container > div:nth-child(2) h5,
footer .container > div:nth-child(3) h5 {
  font-size: 0.875rem;
  text-transform: uppercase;
  margin-bottom: 16px;
}
footer .container > div:nth-child(2) ul,
footer .container > div:nth-child(3) ul {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
footer .container > div:nth-child(2) ul li,
footer .container > div:nth-child(3) ul li {
  list-style: none;
}
footer .container > div:nth-child(2) ul li a,
footer .container > div:nth-child(3) ul li a {
  text-decoration: none;
  color: var(--text-color);
  transition: all 0.3s;
}
footer .container > div:nth-child(2) ul li a:hover,
footer .container > div:nth-child(3) ul li a:hover {
  color: #ffffff;
}
footer .container > div:nth-child(3) {
  grid-column: span 3;
}

footer .container > div:nth-child(3) ul li {
  display: flex;
  gap: 12px;
  align-items: center;
}
footer .container > div:nth-child(3) ul li i {
  color: var(--theme-text-color);
  font-size: 1rem;
}
footer .container > div:nth-child(3) ul li address {
  font-style: normal;
}

.copyright {
  grid-column: 1/-1;
  display: flex;
  justify-content: space-between;
  padding: 32px 0;
  border-top: 1px solid var(--border-color);
  font-size: 0.875rem;
}

.copyright > div {
  display: flex;
  gap: 24px;
}
.copyright > div a {
  text-decoration: none;
  color: var(--text-color);
  transition: 0.3s;
}
.copyright > div a:hover {
  color: #fff;
}

/* Cookies */
.cookies {
  padding: 24px;
  background-color: var(--secondary-bg-color);
  border-top: 1px solid var(--border-color);
  font-size: 0.875rem;
  position: sticky;
  bottom: 0;
  left: 0;
  right: 0;
}
.cookies .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* About Page */
section.page_title {
  background-image: linear-gradient(var(--theme-bg-color), var(--bg-color));
  padding: 80px 0;
}
section.page_title .section_title {
  grid-column: span 12;
  gap: 20px;
  color: #ffffff;
  margin: 0 auto;
}
section.page_title .section_heading {
  font-size: 3rem;
  line-height: 1;
}
section.page_title .section_title .sub_heading {
  padding: 6px 16px;
  border: none;
  font-size: 0.875rem;
  background-color: color-mix(#ffffff 20%, transparent);
  color: #ffffff;
}

nav.breadcrumb {
  font-size: 0.875rem;
}
nav.breadcrumb ul {
  gap: 8px;
}
.mission .container {
  align-items: center;
}
.mission article.content,
.mission .mission_img {
  grid-column: span 6;
}

.mission article.content {
  align-items: flex-start;
  gap: 16px;
}
.mission article.content h2 {
  font-size: 2.25rem;
}
.mission article.content q {
  color: var(--theme-text-color);
  font-size: 1.125rem;
  font-style: italic;
  font-weight: var(--secondary-heading-font-weight);
}

.mission article.content p {
  font-size: 1rem;
}
.mission .mission_img img {
  width: 100%;
  border-radius: 1rem;
  object-fit: cover;
}

.icon_box {
  display: flex;
  background-color: var(--icon-bg-color);
  align-items: center;
  padding: 4px 12px;
  border-radius: 30px;
  gap: 8px;
  font-size: 0.875rem;
  color: #86efac;
}

/* Our Values Area */
section.values {
  background-color: var(--secondary-bg-color);
}

section.values .card {
  background-color: var(--border-color);
}

/* Our Team Area */
.team {
  grid-column: span 3;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
}
.team img {
  max-width: 160px;
  border-radius: 50%;
}

.team h3 {
  font-size: 1.125rem;
  font-weight: var(--secondary-heading-font-weight);
}

.team p {
  font-size: 0.875rem;
}
